body {
    background-image: url('../img/test3.png');
    background-color: #252525;
    color: #FDFBEA;
}
.sfondo-card {
    background-color: #151515;
    color: #FDFBEA;
}
.prezzo {
    color: #F3700C;
}

.img-arrow {
    animation: bounce 2s infinite;
}


@keyframes bounce {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(-15);
    }
}