<link href="~/Stile/Css/ChiSiamo.css" rel="stylesheet" />

@{
    ViewBag.Title = "Chi Siamo";
}


<div>
    <div class="d-flex flex-column flex-lg-row">
        <div class="sfondo-card me-5">
            <h2 class="text-orange-p">Chi Siamo</h2>
            <p>SkinBazaar si <span class="text-purple-p">impegna</span> a offrire una vasta gamma di skin di alta qualità per soddisfare le esigenze di <span class="text-purple-p">personalizzazione dei giocatori</span> di tutto il mondo.</p>
        </div>
        <div class="sfondo-card">
            <h3 class="text-orange-p">La Nostra Missione</h3>
            <p>Presso SkinBazaar, ci impegniamo a fornire una <span class="text-purple-p">piattaforma affidabile</span> e conveniente dove gli appassionati di giochi possono esprimere la <span class="text-purple-p">propria individualità</span></p>
            <p>La nostra missione è offrire <span class="text-purple-p">un'esperienza di shopping</span> senza problemi, supportata da un team dedicato pronto ad <span class="text-purple-p">assistere i nostri clienti</span> in ogni fase del processo di acquisto.</p>
        </div>
    </div>
    <div>
        <div class="sfondo-card my-5">
            <h3 class="text-orange-p">Cosa Ci Rende Unici</h3>
            <p>Ciò che ci distingue è il nostro <span class="text-purple-p">impegno per</span> la qualità, l'attenzione al cliente e la passione per i videogiochi. Ogni skin nel nostro catalogo è stata <span class="text-purple-p">selezionata con cura</span> per garantire stile e funzionalità impeccabili.</p>
        </div>
    </div>
    <div class="my-5">
        <h3 class="text-orange-p text-center">Grazie per essere parte della nostra community e per il tuo continuo supporto.</h3>
    </div>
</div>
