<link href="~/Stile/Css/EmailMandata.css" rel="stylesheet" />

@{
    ViewBag.Title = "Email Mandata";
}

<div class="container my-5">
    <div class="card sfondo-card">
        <div class="card-body text-center">
            <h2 class="card-title text-purple-p">Email Mandata</h2>
            <p class="card-text">La tua email è stata inviata con successo. Ti risponderemo al più presto possibile.</p>
        </div>
    </div>
</div>
